---
---

// Headers
$header-heading-color: #fff;
$header-bg-color: #784E72; // purple
$header-bg-color-secondary: #fe4e0a; // orange

// Text
$section-headings-color: #784E72;
$body-text-color: #606c71;
$body-link-color: #fe4e0a;

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Raleway:200');

body {
  text-align: center;
  font-family: 'Old Standard TT', serif;
}

h1, .project-name {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;

  @include large {
    font-size: 5rem;
  }

  @include medium {
    font-size: 4rem;
  }

  @include small {
    font-size: 3rem;
  }
}

h2, .sub-heading {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  
  @include large {
    font-size: 2.25rem;
  }

  @include medium {
    font-size: 2rem;
  }

  @include small {
    font-size: 1.75rem;
  }
}

.wine, .safari, .timandellie, .page-header {
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header {
  background-image: linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.35)), url(/assets/images/coddington-house2.jpg);
  background-position: center;
  
  @include large {
    padding: 8rem 6rem;
  }
}

.safari {
  background-image: url(/assets/images/safari.jpg);
  background-position: center;
  padding: 12rem 2rem;
  
  @include medium {
    padding: 8rem 2rem;
  }

  @include small {
    padding: 6rem 2rem;
  }
}

.timandellie {
  background-image: url(/assets/images/timandellie.JPG);
  background-position: center 25%;
  padding: 20rem 2rem;
  
  @include medium {
    padding: 12rem 2rem;
  }

  @include small {
    padding: 7rem 2rem;
  }
}

.wine {
  background-image: url(/assets/images/wine.JPG);
  background-position: center 30%;
  padding: 20rem 2rem;
  margin-top: 3rem;
  margin-bottom: 0;
  
  @include medium {
    padding: 13rem 2rem;
  }

  @include small {
    padding: 7rem 2rem;
  }
}

.safari, .timandellie {
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.main-content {
  @include large {
    max-width: none;
    padding: 2rem 0 0 0;
    margin: 0;
  }

  @include medium {
    padding: 2rem 0 0 0;
  }

  @include small {
    padding: 2rem 0 0 0;
  }
  
  .img-divider {
    margin-top: 1rem;
  }
  
  p {
    @include large {
      max-width: 48rem;
      margin: 0 auto 1rem auto;
    }
    
    @include medium {
      padding: 0 4rem;
    }

    @include small {
      padding: 0 1rem;
    }
    
    &.highlight {
      font-size: 1.1rem;
      padding: 1.5rem;
      opacity: 0.8;
  
      @include medium {
        padding: 1.5rem;
      }
  
      @include small {
        padding: 1.5rem;
      }
    }
  }
}
