---
---

// Headers
$header-heading-color: #fff;
$header-bg-color: #491256;
$header-bg-color-secondary: #ff7600;

// Text
$section-headings-color: #491256;
$body-text-color: #606c71;
$body-link-color: #ff7600;

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body {
  text-align: center;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  text-transform: lowercase;
  
  &.project-name {
    font-size: 6rem;
  }
}
